{% extends 'main/layout.html' %}

{% block title %}Форма по добавлению статьи {% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма по добавлению статьи</h1>
        <form method="post">
            {% csrf_token %}<br>
            <hr>
            {{ form.title }}<br>
            <hr>
            {{ form.anons }}<br>
            <hr>
            {{ form.full_text }}<br>
            <hr>
            {{ form.date }}<br>
            <hr>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавить статью</button>
        </form>
    </div>
{% endblock %}
